*{
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
h1 {
  overflow-y: hidden;
}
h2 {
  overflow-y: hidden;
}
h3{
  overflow-y: hidden;
}
h4{
  overflow-y: hidden;
}
h5{
  overflow-y: hidden;
}
h6{
  overflow-y: hidden;
}
div{
  overflow-y: hidden;
}
nav > ul{
  margin-top: 1%;
}
footer{
  background-color: #000000;
  margin-top: auto;
}
footer > p {
  color: white;
}
footer > p > a {
  color: white;
}

div > h2 > p > a {
  color: #000000;
}
div > input {
  width: 50%;
}
td {
  padding: 5px;
}
div > button {
  border: solid black;
  background-color: white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
iframe{
  overflow-y: hidden;
}
body{
  background-image: url(assets/img/installerBio.jpg);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}
/* ::placeholder{
  content: " *";
  color: red;
} */
#footerLinks > a:hover{
  color: white;
}
#root{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: red; */
}
.robotoMain{
  font-family: 'Roboto Slab', serif;
}
.bold {
  margin-top: -5px;
}
.profileHeader {
  background-color: #80bf83;
}
.profileBody {
  background-color: #f2f2f2;
}
.spacer {
  border-bottom: 10px solid black;
  border-bottom-width: medium;
}
/* .homeButton{
  height: 65px;
  display: block;
  width: 50%;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  cursor: pointer;
  outline-offset: 6px;
  transition: filter 250ms;
  overflow-y: hidden;
}
.homeButton > a {
  text-decoration: none;
}
.homeButton:hover {
  filter: brightness(110%);
}
.homeButton:hover .homeLayer {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.homeButton:active .homeLayer {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.homeButton:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.homeButton:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.homeButton:focus:not(:focus-visible) {
  outline: none;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(123deg 100% 16%) 0%,
    hsl(123deg 100% 32%) 8%,
    hsl(123deg 100% 32%) 92%,
    hsl(123deg 100% 16%) 100%
  );
}
.homeLayer {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: hsl(123deg 100% 39%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
} */
.myButton {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:40px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:22px;
	font-weight:bold;
	padding:16px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
  color: #ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}
.submission {
  text-decoration: none;
  padding: 14px 40px;
  border: 4px solid #45a049;
  border-radius: 30px;
}
.submission:hover {
  transition-duration: 0.4s;
  background-color: #45a049;
  color: white;
  
}

#searchbarState{
  margin:10px;
  border-radius: 5px;
}
#searchbarCity{
  margin: 15px;
  border-radius: 5px;
}
#searchbarZip{
  margin: 15px;
  border-radius: 5px;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.headerClass{
  display: flex;
  justify-content: center;
}
.state{
  list-style: none;
}
.homePage {
  border: solid;
}
.tables{
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

.tables > tbody {
  background: #fffffa;
}
.formPage{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.fixed-nav-bar { 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999; 
  width: 100%; 
}

input[type=text], select{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
input[type=checkbox]{
  width: auto;
}
.formLayout{
  width:auto;
  border: solid 5px black;
  display: block;
  justify-content:space-around;
  background: lightgray;
}
.formText{
  text-align:center;
  display: flex;
  justify-content: center;
  margin: 4px;
}

tr:nth-child(2n) {
  background-color: lightgray;
}
ul > a {
  text-decoration: none;
  color: black;
}
ul > a:hover, a:active {
  color: #45a049;
}

.reviewBox{
  border: #000000 2.5px solid;
  padding: 5px;
  margin: 5px;
  width: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.item4 {
  grid-column-start: 3;
  grid-column-end: 5;
}
#zipcodeSubmission{
  margin-top: auto;
}
#stateUpdate{
  margin-bottom: 10px;
}
#remove {
  margin-bottom: 7px;
  padding-top: 15px;
}
#bioSubmission {
  margin-top: -10px;
}
#tradeSubmission {
  margin-top: 15px;
}
#instypeSubmission{
  margin-top: 15px;
}
#lictypeSubmission{
  margin-top: 15px;
}

label {
  display: block;
}
input {
  vertical-align: bottom;
  position: relative;
  top: -11px;
}
@media (max-width: 1200px) {
  .priority-8{
    display: none !important;
  }
}
@media (max-width: 1050px) {
  .priority-7{
    display: none !important;
  }
}
@media (max-width: 990px) {
  .priority-6{
    display: none !important;
  }
  .priority-5{
    display: none !important;
  }
  .myButton{
    width: 50%;
  }
}
@media (max-width: 774px){
  form > div > div > div.col{
  display: none;
  }
}
@media (max-width: 400px) {
  #searchbarCity{
    display: none !important;
  } 
}
@media (max-width: 805px) {
    .hidden--mobile {
      display: none !important;
    }
    body {
      padding-top: 20%;
    }
    nav{
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      color: #45a049;
      background-color: #000000;
    }
    nav > h1 {
      float:right;
    }
    nav > h1 > a {
      text-decoration: none;
      color: #45a049;
    }
    nav > h1 > a:hover {
      color: white;
     }
    nav > .fas-bars {
      display: block;
      }
    nav > ul {
      flex-direction: column;
      background-color: black;
      
      }
    nav >ul > li {
      margin: 0.8em 0;
      }
    nav > ul > li > a{
        float:none;
        display: block;
        width:100%;
        text-align: left;
        color: whitesmoke;
        text-decoration: none;
      }
      nav > ul > li > a:hover{
        color: #45a049;
      }
      .homeButton{
        height: 75px;
        width: 92.5%;
        overflow-y: hidden;
      }
      .homeButton > a {
        color: white;
      }
      .homeButton {
        user-select: none;
        outline: none;
      }
      .mobile-col {
        margin-right: 35px;
      }
      .item1 {
        grid-column-start: 1;
        grid-column-end: 5;
        width: 100%;
        text-align: center;
      }
      .item2Border {
        border-top: 10px solid #D3D3D3;
        border-top-width: thick;
        padding-top: 7.5px;
      }
      .item2 {
        grid-column-start: 1;
        grid-column-end: 5;
        width: 100%;
        text-align: left;
      }
      #companynameSubmission {
        margin-bottom: -15px;
      }
      #webSubmission {
        margin-bottom: -15px;
      }
      #phoneSubmission{
        margin-bottom: -15px;
      }
      #emailSubmission {
        margin-bottom: -10px;
      }
      #addressSubmission {
        margin-bottom: -15px;
      }
      #citySubmission {
        margin-bottom: -15px;
      }
      #stateSubmission {
        margin-top: -5px;
      }
      #name {
        margin-bottom: -10px;
      }
      #company {
        margin-bottom: -10px;
      }
      #email {
        margin-bottom: -10px;
      }
      #companynameUpdate {
        margin-bottom: -10px;
      }
      #emailUpdate {
        margin-bottom: -10px;
      }
      .myButton{
        width: auto;
      }
    }
@media (min-width: 806px) {
  body {
    padding-top: 10%;
    margin-top: auto;  
    /* padding-bottom: 14%; */
  }
    nav{
      width:100%;
      background-color: #000000;
      height: 80px;
      overflow: hidden;
      position: fixed;
      
    }
    nav > .fa-bars {
      display: none;
    }
    nav > ul {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0;
    }
    nav > ul > li > a {
     color: white;
    }
    nav > ul > li > a:hover {
      color: #45a049;
    }
    nav > ul > li {
      display: inline-block;
      text-decoration: none;
      justify-content: space-evenly;
    }
   nav > h1 {
    float: left;
    margin-left: 10px;
   }
   nav > h1 > a {
    text-decoration: none;
    color: #45a049;
   }
   nav > h1 > a:hover {
    color: white;
   }
   nav > ul > li > a{
    text-decoration: none;
   }
    nav > .fas-bars {
      display: none;
    }
  footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  overflow: hidden;
  margin-top: auto;
  }
    .rows{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
    }
    .columns{
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      padding: 5px;
    }
    #state {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #profession{
      margin-left: 7px;
    }
    #searchbarState {
      display: none;
    }
    .item1 {
      grid-column-start: 1;
      grid-column-end: 2;
      width: max-content;
      text-align: left;
    }
    .item1Border {
      border-right: 10px solid #D3D3D3;
      border-right-width: thick;
      padding-right: 7.5px;
    }
    .item2 {
      grid-column-start: 3;
      grid-column-end: 5;
      width: 100%;
      text-align: left;
    }
    #companynameUpdate{
      margin-bottom: -10px;
    }
    #emailUpdate {
      margin-bottom: -10px;
    }
    #stateUpdate {
      margin-bottom: 15px;
    }
    #name {
      margin-bottom: -10px;
    }
    #company {
      margin-bottom: -10px;
    }
    #email {
      margin-bottom: -10px;
    }
}