*{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
h1 {
  overflow-y: hidden;
}
h2 {
  overflow-y: hidden;
}
h3{
  overflow-y: hidden;
}
h4{
  overflow-y: hidden;
}
h5{
  overflow-y: hidden;
}
h6{
  overflow-y: hidden;
}
body{
  padding-top:100px;
 }
nav > ul{
  margin-top: 10px;
}
footer{
  margin-top: 30px;
}
footer > p > a {
  color: black;
}
div > h2 > p > a {
  color: #000000;
}
div > input {
  width: 50%;
}
td {
  padding: 5px;
}
.profileHeader {
  background-color: #80bf83;
}
.profileBody {
  background-color: #f2f2f2;
}
.spacer {
  border-bottom: 10px solid black;
  border-bottom-width: medium;
  /* width: 80%;
  margin-left: auto;
  margin-right: auto; */
}
.homeButton{
  height: 65px;
  display: block;
  width: 50%;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  cursor: pointer;
  outline-offset: 6px;
  transition: filter 250ms;
  overflow-y: hidden;
}
.homeButton > a {
  text-decoration: none;
}
.homeButton:hover {
  filter: brightness(110%);
}
.homeButton:hover .homeLayer {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.homeButton:active .homeLayer {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.homeButton:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.homeButton:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.homeButton:focus:not(:focus-visible) {
  outline: none;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(123deg 100% 16%) 0%,
    hsl(123deg 100% 32%) 8%,
    hsl(123deg 100% 32%) 92%,
    hsl(123deg 100% 16%) 100%
  );
}
.homeLayer {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: hsl(123deg 100% 39%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.submission {
  padding: 14px 40px;
  transition-duration: 0.4s;
  border: 4px solid #45a049;
}
.submission > a {
  text-decoration: none;
  color: #000000;
}
.submission > a:hover {
  color: #45a049;
}
#searchbarState{
  margin:10px;
  border-radius: 5px;
}
#searchbarCity{
  margin: 15px;
  border-radius: 5px;
}
#searchbarZip{
  margin: 15px;
  border-radius: 5px;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.headerClass{
  display: flex;
  justify-content: center;
}
.state{
  list-style: none;
}
.homePage {
  border: solid;
}
.tables{
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

.tables > tbody {
  background: #fffffa;
}
.formPage{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.fixed-nav-bar { 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999; 
  width: 100%; 
}

input[type=text], select{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
input[type=checkbox]{
  width: auto;
}
.formLayout{
  width:auto;
  border: solid 5px black;
  display: block;
  justify-content:space-around;
  background: lightgray;
}
.formText{
  text-align:center;
  display: flex;
  justify-content: center;
  margin: 4px;
}

tr:nth-child(2n) {
  background-color: lightgray;
}
ul > a {
  text-decoration: none;
  color: black;
}
ul > a:hover, a:active {
  color: #45a049;
}

.fun {
  background-color: white;
    /* background: url(./assets/img/backgroundblue2.jpg) no-repeat center center fixed; ; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 
.reviewBox{
  border: #000000 2.5px solid;
  padding: 5px;
  margin: 5px;
  width: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
}
.grid-container > div {
  text-align: left;
  padding: 20px 0;
  /* font-size: 30px; */
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.item2 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.item3 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.item4 {
  grid-column-start: 3;
  grid-column-end: 5;
}
#stateSubmission{
  margin-top: 10px;
}
#zipcodeSubmission{
  margin-top: auto;
}
#stateUpdate{
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .priority-8{
    display: none !important;
  }
}
@media (max-width: 1050px) {
  .priority-7{
    display: none !important;
  }
}
@media (max-width: 990px) {
  .priority-6{
    display: none !important;
  }
  .priority-5{
    display: none !important;
  }
}
@media (max-width: 774px){
  form > div > div > div.col{
  display: none;
  }
}
@media (max-width: 400px) {
  #searchbarCity{
    display: none !important;
  } 
}
@media (max-width: 669px) {
    .hidden--mobile {
      display: none !important;
    }
    nav{
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      color: #45a049;
      background-color: #000000;
    }
    nav > h1 {
      float:right;
    }
    nav > h1 > a {
      text-decoration: none;
      color: #45a049;
    }
    nav > h1 > a:hover {
      color: white;
     }
    nav > .fas-bars {
      display: block;
      }
    nav > ul {
      flex-direction: column;
      background-color: black;
      }
    nav >ul > li {
      margin: 0.8em 0;
      }
    nav > ul > li > a{
        float:none;
        display: block;
        width:100%;
        text-align: left;
        color: whitesmoke;
        text-decoration: none;
      }
      nav > ul > li > a:hover{
        color: #45a049;
      }
      .homeButton{
        height: 75px;
        width: 92.5%;
        overflow-y: hidden;
      }
      .homeButton > a {
        color: white;
      }
      .homeButton {
        user-select: none;
        outline: none;
      }
      .mobile-col {
        margin-right: 35px;
      }
    }
@media (min-width: 670px) {
    nav{
      width:100%;
      background-color: #000000;
    }
    nav > .fa-bars {
      display: none;
    }
    nav > ul {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0;
    }
    nav > ul > li > a {
     color: white;
    }
    nav > ul > li > a:hover {
      color: #45a049;
    }
    nav > ul > li {
      display: inline-block;
      text-decoration: none;
      justify-content: space-evenly;
    }
   nav > h1 {
    float: left;
    margin-left: 10px;
   }
   nav > h1 > a {
    text-decoration: none;
    color: #45a049;
   }
   nav > h1 > a:hover {
    color: white;
   }
   nav > ul > li > a{
    text-decoration: none;
   }
    nav > .fas-bars {
      display: none;
    }
    .rows{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
    }
    .columns{
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      padding: 5px;
    }
    #state {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #profession{
      margin-left: 7px;
    }
    #searchbarState {
      display: none;
    }
}